@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;  
  font-weight: 400;
  letter-spacing: 0;
  padding: 10px;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 10px;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  
  display: flex;
  flex-direction: column;
  
}

.card_content {
  padding: 10px;
  background-color: lightslategray;
}

.card_title {
  margin: 0px;
  text-align: center;
}

.card_text {
  
  text-align: center;
}